body {
    padding-top: 4rem;
    background-color: #343131;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4rem;
    display: flex;
    align-content: center;
    background-color: #343131;
}

nav {
    flex-basis: 100%;
    display: flex;
    text-align: right;
    align-content: center;
    align-items: stretch;
}

nav a {
    text-decoration: none;
}

.flex-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90vh;
    min-height: 700px;
}


.item {
    display: flex;
    align-items: center;
    font-size: x-large;
    color: #ffe600;
    font-family: Lightning;
    font-style: italic;
    text-shadow: 0 0 10px orangered;
    padding-left: 2%;
    padding-right: 2%;
}

.item-1 {
    flex-grow: 1;
    text-align: left;
    padding-left: 3%;
    font-size: xx-large;
}

.item-2:hover, .item-3:hover, .item-4:hover {
    background-color: lightgray;
}


.references-container {
    flex-basis: 100%;
    background-color: lightblue;
}

.catalog-container {
    flex-basis: 50%;
    background-color: lightyellow;
}

.video-container {
    flex-basis: 50%;
    background-color: #fda5c4;
}

@font-face {
    font-family: 'Lightning'; /* Choose a name for your font */
    src: url('flash_font/flashext.ttf') format('truetype'); /* Replace 'path-to-your-font-file.ttf' with the actual file path */
}
