.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(120deg, black, crimson);
    justify-content: space-evenly;
}
.special_offer{
    border: 2px solid white;
    flex-basis: auto;
    height: 10vh;
    background-color: antiquewhite;
    width:100%;
    text-align: center;
    font-size: xxx-large;
    color: white;
    overflow: hidden;

}
.boxCourse{
    border: 2px solid white;
    flex-basis: auto;
    height: 25vh;
    width: 100%;
    text-align: left;
    padding-top: 5%;
    padding-left: 15%;
    color: white;
    font-size: x-large;
}
.text-container{
    flex: 1;

}
.image-container{
    flex: 1;
    padding-left: 50%;

    border: 2px greenyellow solid;
}
.image-container img{
    height: 25vh;

}
.rolling{
    white-space: nowrap;
    animation: rollText 10s linear infinite;
}
@keyframes rollText {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.list-container{
    width: 100%;
    height: 35px;
    overflow: hidden;
}
.rolling-list{
    padding: 0;
    margin: 0;
    list-style: none;
    animation: rollList 10s linear infinite;
}
.rolling-list:hover{
    animation-play-state: paused;
}
@keyframes rollList {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(calc(-100% - 20px));
    }
}