.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(120deg, black, crimson);
    justify-content: space-evenly;
}
.boxCourse{
    border: 2px solid white;
    flex-basis: auto;
    height: 25vh;
    background-color: transparent;
    width: 100%;
    text-align: center;
    padding-top: 5%;
}