.ref-box{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-items: flex-start;
    flex-direction: row;
    /*height:100vh;*/
    flex-wrap: wrap;


}
.content{
    flex: 1 1 100px;
    display: grid;
    flex-basis: auto;
    place-content: center;
    max-width: 70%;
    height: 30vh;
    overflow: hidden;

}
.image{
    flex-shrink: 1;
    image-rendering: auto;
}
.image1{
    order: 1;
    flex-basis: 70%;
}
.description1{
    order: 2;
    flex-basis: 29%;
    font-family: Lightning, serif;
    font-size: 165%;
    color: white;
    padding-left: 10px;
    text-shadow: red 2px 2px;

}
.image2{
    order: 4;
}
.description2{
    order: 3;
    flex-basis: 25%;
    font-family: "Lucida Handwriting", serif;
    font-size: 150%;
    color: purple;
    text-shadow: yellowgreen 2px 2px;
}
.image3{
    order: 5;
}
.description3{
    order: 6;
    flex-basis: 25%;
    font-family: Vivaldi, serif;
    font-size: 150%;
    color: black;
    padding-left: 10px;
    text-shadow: white 2px 2px;
}
.reviews{
    order:7;
}
body{
    font-size: x-large;
    justify-self: center;
}